@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
header .nav-tamaño div .posicion-nav ul li, body main .scroll-top, main .books .libro .bookA, main form .form .adjunto, main form .form .botones_form .btn {
  background-color: #2A4F69;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 3px 5px 2px rgba(26, 49, 65, 0.7);
  margin: 5px; }
  header .nav-tamaño div .posicion-nav ul li:hover, body main .scroll-top:hover, main .books .libro .bookA:hover, main form .form .adjunto:hover, main form .form .botones_form .btn:hover {
    color: black;
    box-shadow: 3px 5px 2px #000000; }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos generales de nav bar y header*/
header {
  height: 300px;
  background-color: #212F3D; }
  header .nav-tamaño {
    height: 280px;
    align-items: end; }
    header .nav-tamaño div .boton-style {
      background-color: #2A4F69; }
    header .nav-tamaño div .posicion-nav {
      justify-content: end; }
      header .nav-tamaño div .posicion-nav ul li .nav-style {
        color: #eccd71;
        font-family: "Macondo", cursive; }
        header .nav-tamaño div .posicion-nav ul li .nav-style:hover {
          color: black; }
      header .nav-tamaño div .posicion-nav ul .pagActual {
        background-color: rgba(42, 79, 105, 0.5); }
        header .nav-tamaño div .posicion-nav ul .pagActual a {
          color: rgba(206, 183, 115, 0.5); }

/* responsive nav todos - mobile */
@media screen and (max-width: 991px) {
  .nav-style {
    padding: 0px; } }

/* responsive p todos -mobile */
@media screen and (max-width: 600px) {
  p {
    font-size: 1rem;
    margin: 1rem 2rem 1rem 2rem;
    line-height: 1.8rem; } }

/*estilos generales del body*/
body {
  background-image: url(../img/map_4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0; }
  body main {
    margin: 2% 5% 2% 5%;
    padding: 5px;
    background-color: rgba(42, 79, 105, 0.85); }
    body main h1 {
      padding: 10px;
      font-family: "Macondo", cursive;
      color: #eccd71;
      text-shadow: 3px 5px 2px #000000;
      text-align: center; }
    body main h2 {
      padding: 10px;
      font-family: "Macondo", cursive;
      color: #eccd71;
      text-shadow: 3px 5px 2px #000000;
      text-align: center; }
    body main h3 {
      padding: 10px;
      font-family: "Macondo", cursive;
      color: #eccd71;
      text-shadow: 3px 5px 2px #000000;
      text-align: center; }
    body main p {
      color: #eccd71;
      font-family: "Poly", serif;
      font-size: 1.2rem;
      margin: 1rem 4rem 1rem 4rem;
      line-height: 2rem; }
    body main .imgAnimation {
      transition: 0.5s; }
    body main .imgAnimation:hover {
      transform: scale(1.1);
      box-shadow: 3px 5px 2px #000000; }
    body main .cast {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      column-gap: 1.5rem;
      row-gap: 1rem; }
      body main .cast div {
        background-color: aliceblue;
        padding: 5px;
        text-align: center;
        margin: 2px; }
        body main .cast div p {
          color: black;
          font-family: "Macondo", cursive;
          margin: 0;
          padding: 0; }
        body main .cast div a {
          text-decoration: none;
          font-family: "Macondo", cursive; }
          body main .cast div a img {
            height: 1rem;
            width: 1rem; }
        body main .cast div .flip-card {
          width: 214px;
          height: 317px; }
          body main .cast div .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg); }
          body main .cast div .flip-card .flip-card-inner {
            display: flex;
            justify-content: space-around;
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.8s;
            transform-style: preserve-3d; }
            body main .cast div .flip-card .flip-card-inner .flip-card-front, body main .cast div .flip-card .flip-card-inner .flip-card-back {
              position: absolute;
              backface-visibility: hidden; }
              body main .cast div .flip-card .flip-card-inner .flip-card-front img, body main .cast div .flip-card .flip-card-inner .flip-card-back img {
                width: 214px;
                height: 300px; }
            body main .cast div .flip-card .flip-card-inner .flip-card-back {
              transform: rotateY(180deg); }
    body main .scroll-top {
      position: fixed;
      bottom: 30%;
      right: 1rem;
      border: solid 1.5px #212F3D; }

/*estilos generales del footer*/
footer {
  height: 150px;
  background-image: url("../img/footer_img.png");
  background-repeat: no-repeat;
  background-position: right;
  text-align: right; }
  footer .footerP {
    color: #eccd71;
    padding-top: 6rem;
    line-height: 10px;
    margin: 0.5rem 1rem; }
  footer .parrafo2 {
    color: #eccd71;
    margin: 1rem; }

/*responsive footer - mobile*/
@media screen and (max-width: 600px) {
  footer {
    margin-top: 1rem;
    text-align: center; }
    footer .footerP {
      padding-top: 6rem; } }

/* estilos especificos del home*/
.indexHeader {
  background-image: url(../img/home_banner.jpg);
  background-position-x: 100%;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-attachment: fixed; }

main .contenedor {
  display: grid;
  grid-template-areas: "titulo titulo" "parrafo1 img1" "parrafo4 parrafo4" "cita cita" "titulo2 titulo2" "parrafo2 img2" "parrafo3 parrafo3";
  gap: 2rem;
  margin: 2rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr; }
  main .contenedor h1 {
    grid-area: titulo; }
  main .contenedor .parrafoUno {
    grid-area: parrafo1; }
  main .contenedor .parrafoCuatro {
    grid-area: parrafo4; }
  main .contenedor .fellowship {
    width: 80%;
    grid-area: img1; }
  main .contenedor .citaCompleta {
    grid-area: cita;
    background-color: #2A4F69;
    text-align: center;
    padding: 5px;
    box-shadow: 3px 5px 2px #000000; }
    main .contenedor .citaCompleta div .cita {
      display: inline-block;
      color: lightgrey;
      font-family: "Tangerine", cursive;
      color: white;
      font-size: 2.5rem;
      margin: 1rem 4rem 1rem 4rem;
      line-height: 1rem; }
    main .contenedor .citaCompleta div .referencia {
      display: inline-block;
      margin-top: 2rem;
      margin-left: 5%;
      color: white;
      font-size: 1.5rem;
      text-align: right; }
  main .contenedor h2 {
    grid-area: titulo2; }
  main .contenedor .parrafoDos {
    grid-area: parrafo2; }
  main .contenedor .parrafoTres {
    grid-area: parrafo3; }
  main .contenedor .retratoAutor {
    grid-area: img2;
    width: 100%; }

main .books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 1.5rem;
  row-gap: 1rem; }
  main .books .libro {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    background-color: floralwhite; }
    main .books .libro .bookP {
      color: #000000;
      font-family: "Poly", serif;
      margin: 0.8rem;
      font-size: 1rem; }
    main .books .libro .bookA {
      text-align: center;
      color: #eccd71;
      text-decoration: none;
      font-family: "Macondo", cursive;
      font-size: larger; }

/* * responsive home - tablet */
@media screen and (max-width: 1024px) {
  main .contenedor {
    display: grid;
    grid-template-areas: "titulo" "parrafo1" "img1" "parrafo4" "cita" "titulo2"  "parrafo2" "img2" "parrafo3";
    grid-template-columns: 1fr; }
    main .contenedor .cita {
      font-size: 1.5rem;
      margin: 1rem 2rem 1rem 2rem;
      line-height: 0.3rem; }
    main .contenedor .referencia {
      font-size: 1rem; }
  main .books {
    flex-direction: column;
    align-items: center;
    margin: 40px; } }

/* * responsive home - mobile */
@media screen and (max-width: 600px) {
  .indexHeader {
    background-position-x: 50%; }
  main p {
    margin: 1rem !important; }
  main .contenedor {
    margin: 2px; }
    main .contenedor .citaCompleta {
      padding: 2px; }
    main .contenedor .cita {
      margin: 0px;
      font-size: 0.75rem;
      line-height: 1rem;
      font-family: 'Marck Script', cursive; }
    main .contenedor .referencia {
      font-size: 0.8rem; }
    main .contenedor .fellowship {
      width: 70%; }
  main .books {
    margin: 1rem; }
    main .books .libro {
      width: 80%; } }

/* estilos especificos de página peliculas */
.peliculasHeader {
  background-image: url(../img/banner_peliculas.png);
  background-position-x: 50%;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-attachment: fixed; }

main .musica {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 1.5rem;
  row-gap: 1rem; }
  main .musica iframe {
    margin: 10px;
    max-width: 30rem;
    min-width: 15rem; }

main .locaciones {
  display: grid;
  grid-template-areas: "tituloLocaciones	tituloLocaciones	tituloLocaciones" "subtitLocUno	subtitLocUno	subtitLocUno" "locParrafoUno	locParrafoUno	locImg1" "locImg2	locParrafoDos	locImg1" "locImg2	locParrafoTres	locParrafoTres" "subtitLocDos	subtitLocDos	subtitLocDos" "locParrafoCuatro	locParrafoCuatro	locParrafoCuatro" "locImg4	locParrafoCinco	locImg3" "locParrafoSeis	locParrafoSeis	locParrafoSeis" "locParrafoSiete	locParrafoSiete	locParrafoSiete" "subtitLocTres	subtitLocTres	subtitLocTres" "locParrafoOcho	locParrafoOcho	locParrafoOcho" "locParrafoNueve	locParrafoNueve	locImg5" "locImg6	locParrafoDiez	locParrafoDiez" "mapa	mapa	mapa";
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 10px;
  margin: 30px; }
  main .locaciones .tituloLocaciones {
    grid-area: tituloLocaciones; }
  main .locaciones .subtitLocUno {
    grid-area: subtitLocUno; }
  main .locaciones .locParrafoUno {
    grid-area: locParrafoUno; }
  main .locaciones .locParrafoDos {
    grid-area: locParrafoDos; }
  main .locaciones .locParrafoTres {
    grid-area: locParrafoTres; }
  main .locaciones .subtitLocDos {
    grid-area: subtitLocDos; }
  main .locaciones .locParrafoCuatro {
    grid-area: locParrafoCuatro; }
  main .locaciones .locParrafoCinco {
    grid-area: locParrafoCinco; }
  main .locaciones .locParrafoSeis {
    grid-area: locParrafoSeis; }
  main .locaciones .locParrafoSiete {
    grid-area: locParrafoSiete; }
  main .locaciones .subtitLocTres {
    grid-area: subtitLocTres; }
  main .locaciones .locParrafoOcho {
    grid-area: locParrafoOcho; }
  main .locaciones .locParrafoNueve {
    grid-area: locParrafoNueve; }
  main .locaciones .locParrafoDiez {
    grid-area: locParrafoDiez; }
  main .locaciones .locImg1 {
    grid-area: locImg1;
    width: 100%; }
  main .locaciones .locImg2 {
    grid-area: locImg2;
    width: 100%; }
  main .locaciones .locImg3 {
    grid-area: locImg3;
    width: 100%; }
  main .locaciones .locImg4 {
    grid-area: locImg4;
    width: 100%; }
  main .locaciones .locImg5 {
    grid-area: locImg5;
    width: 100%; }
  main .locaciones .locImg6 {
    grid-area: locImg6;
    width: 100%; }
  main .locaciones .mapaNuevaZelanda {
    grid-area: mapa;
    width: 100%;
    margin-top: 20px;
    box-shadow: 3px 5px 2px #000000;
    border-radius: 1rem; }

/* * responsive peliculas - tablet */
@media screen and (max-width: 1024px) {
  main .locaciones {
    grid-template-areas: "tituloLocaciones	subtitLocUno" "locParrafoUno	locParrafoUno" "locImg2	locImg1" "locParrafoDos	locParrafoDos" "locParrafoTres	locParrafoTres" "subtitLocDos	subtitLocDos" "locParrafoCuatro	locParrafoCuatro" "locParrafoCinco locParrafoCinco" "locImg4	locImg3" "locParrafoSeis	locParrafoSeis" "locParrafoSiete	locParrafoSiete" "subtitLocTres	subtitLocTres" "locParrafoOcho	locParrafoOcho" "locParrafoNueve	locParrafoNueve" "locImg5 locImg6" "locParrafoDiez	locParrafoDiez" "mapa	mapa";
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 10px; } }

/* * responsive peliculas - mobile */
@media screen and (max-width: 600px) {
  main .musica iframe {
    margin: 10px; }
  main .locaciones {
    grid-template-areas: "tituloLocaciones" "subtitLocUno" "locParrafoUno" "locImg1"         "locParrafoDos" "locImg2" "locParrafoTres" "subtitLocDos" "locParrafoCuatro" "locImg3" "locParrafoCinco" "locImg4" "locParrafoSeis" "locParrafoSiete" "subtitLocTres" "locParrafoOcho" "locImg5" "locParrafoNueve" "locImg6" "locParrafoDiez" "mapa";
    grid-template-columns: 1fr; } }

/*estilo pagina novedades*/
.novedadesHeader {
  background-image: url(../img/banner_novedades.png);
  background-position-x: 50%;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-attachment: fixed; }

main .video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 1.5rem;
  row-gap: 1rem;
  margin: 0.5rem; }

/* * responsive novedades - tablet */
@media screen and (max-width: 1024px) {
  .novedadesHeader {
    background-position: 50% 0px; }
  main .videos h1 {
    font-size: x-large; }
  main .videos h2 {
    font-size: large; } }

/* * responsive novedades - mobile */
@media screen and (max-width: 600px) {
  main .video h1 {
    font-size: large; }
  main .video h2 {
    font-size: small; } }

/* estilos pagina Mundo Tolkien */
/* trabajado con bootstrap */
/* estilo del header de pag Mundo Tolkien */
.mTolkienHeader {
  background-image: url(../img/banner_razas.png);
  background-position-x: 50%;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-attachment: fixed; }

main div .card-style {
  background-color: transparent;
  position: relative; }
  main div .card-style :hover .card-text {
    opacity: 1;
    height: 100%; }
  main div .card-style .img-card {
    border: #000 solid 1px;
    border-radius: 30px 0px 30px 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 3px 5px 2px #000000; }
  main div .card-style .card-title {
    font-family: "Macondo", cursive;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(42, 79, 105, 0.85);
    padding: 0.2rem;
    margin-top: 0; }
  main div .card-style .card-text {
    font-size: 1rem;
    position: absolute;
    height: 0;
    top: 0;
    margin-top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: #2A4F69;
    overflow-y: scroll;
    transition: 0.8s ease; }
  main div .card-style .mapas h2 {
    margin-top: 2.5rem; }
  main div .card-style .mapas img {
    height: 50%;
    width: 50%;
    margin: 0;
    padding: 0; }

@media screen and (max-width: 600px) {
  .mTolkienHeader {
    background-position-x: 25%; } }

/* estilos pagina contacto */
.contactoHeader {
  background-image: url(../img/banner_contacto_2.png);
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  background-attachment: fixed; }

main .tituloForm {
  text-align: center;
  margin: 0%; }

main form .form {
  margin: 5% 10% 10% 10%;
  display: grid;
  grid-template-areas: "nombre email pais" "consulta consulta adjuntos" "botones botones botones";
  align-items: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: 2fr 2fr 1fr;
  background-image: url(../img/map-white.jpg);
  padding: 1rem;
  border: #000 solid 1px;
  border-radius: 10px;
  box-shadow: 3px 5px 2px #000000; }
  main form .form .nombre {
    grid-area: nombre; }
  main form .form .email {
    grid-area: email; }
  main form .form .pais {
    grid-area: pais; }
  main form .form .consulta {
    grid-area: consulta;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center; }
  main form .form .adjunto {
    grid-area: adjuntos; }
    main form .form .adjunto .texto {
      font-size: 1rem;
      margin: 0px !important;
      font-family: "Macondo", cursive;
      text-align: center;
      padding: 0.1rem; }
      main form .form .adjunto .texto:hover {
        color: black; }
    main form .form .adjunto .btn_enviar {
      position: absolute;
      opacity: 0;
      width: 30px; }
  main form .form .botones_form {
    grid-area: botones; }
    main form .form .botones_form input {
      color: #eccd71;
      font-family: "Macondo", cursive; }
  main form .form label, main form .form input, main form .form textarea, main form .form legend {
    margin: 10px;
    color: #2A4F69;
    font-family: "Macondo", cursive;
    font-size: 1.3rem; }

/*Reponsive contacto - tablet*/
@media screen and (max-width: 1024px) {
  main form .form {
    grid-template-areas: "nombre email " "pais adjuntos" "consulta consulta" "botones botones";
    grid-template-columns: 1fr 1fr;
    margin: 1%;
    padding: 0.3rem; } }

/*Responsive contacto - mobile*/
@media screen and (max-width: 600px) {
  .contactoHeader {
    background-position-x: -20rem; }
  main form .form {
    grid-template-areas: "nombre" "email" "pais" "adjuntos" "consulta" "botones";
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr;
    margin: 0;
    padding: 0; } }
