
@mixin header($horizontal, $vertical){
    background-position-x: $horizontal;
    background-position-y: $vertical;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
}


@mixin titulos{
    padding: 10px;
    font-family: $letra-macondo;
    color:$letra-dorado;
    text-shadow: 3px 5px 2px #000000;
    text-align: center;
}

@mixin flexMultimedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}